.landing{
    padding-top: 70px;
    background-color: rgb(253, 252, 252);
}

.landing h2{
    padding: 20px 0 50px;
 text-align: center; 
 font-size: 40px;
 font-weight: 600;
}


.Container{
    max-width: 80%;
    margin: 0 auto;
  }
  

.landing-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}