.card-container{
    justify-content: center;
   margin: 30px 0;
}

.card-content{
    font-size: 30px;
}

.caja-imagen-landing{
    width: 300px;
    height: 400px;
}
.caja-imagen-landing img{
    width: 100%;
    height: auto;
    
}